SERVER_BE=http://localhost:1323
SERVER_STATIC=http://localhost:1323/static
PUBLIC_DISCORD_CLIENT_ID=
SERVER_DISCORD_CLIENT_SECRET=

# Backend
ADDR=:1323
OUTPUT=./output
JOBS_CACHE_TTL=15m
MAX_PFP_BYTES=12000000
