.DS_Store
node_modules
/.next
/.next-raw-validation/
.env
.env.*
!.env.example
.vercel
.output
/output
tsconfig.tsbuildinfo
next-env.d.ts
.idea
/cache/
/data/
/backend/data/
/bin/
/.sparkle-backend/
/public/vendor/libmedia/
