@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 7 47% 96%;
		--foreground: 60 2% 30%;
		--muted: 7 12% 90%;
		--muted-foreground: 7 12% 30%;
		--popover: 7 47% 93%;
		--popover-foreground: 60 2% 20%;
		--card: 7 47% 94%;
		--card-foreground: 60 2% 25%;
		--border: 7 37% 91%;
		--input: 7 37% 88%;
		--primary: 237 26% 42%;
		--primary-foreground: 0 0% 100%;
		--secondary: 237 16% 75%;
		--secondary-foreground: 237 16% 15%;
		--accent: 7 47% 89%;
		--accent-foreground: 7 47% 21%;
		--destructive: 3 99% 41%;
		--destructive-foreground: 0 0% 100%;
		--ring: 237 26% 42%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

:root {
	--font-body: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--font-mono: 'JetBrains Mono', 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgb(24, 24, 24);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	--color-pink: #ec018b;
	--color-pink-light: rgba(236, 1, 139, 0.75);
	--color-sub-pink: #ee2e63;
	--code-bg: #fff;
	--video-controls-color: rgba(255, 255, 255, 0.88) !important;
	--media-slider-track-fill-bg: rgba(255, 255, 255, 0.85) !important;
	-webkit-font-smoothing: antialiased;

}

html {
	scroll-behavior: smooth;
}

html, #root {
	max-width: 100vw;
}

button {
	transition: all 0.1s cubic-bezier(.32,.08,.24,1);
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	display: flex;
	cursor: pointer;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	background-color: white;
	align-self: center;
}

input {
	font-family: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.chat-pc span {
	color: rgba(233, 233, 233, 0.6);
}

.chat-pc input::placeholder {
	color: rgba(233, 233, 233, 0.55);
	opacity: 1;
}

.chat-pc input {
	height: 2rem;
	outline: none;
	border: none;
	margin: 0 2rem;
	width: 28rem;
	background-color: hsla(0,0%,100%,.4) !important;
	color: white;
	font-weight: 600;
	padding-right: 4rem;
}

:where(.vds-captions [data-part='cue']) {
	backdrop-filter: unset !important;
	-webkit-backdrop-filter: unset !important;
	background-color: unset !important;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black !important;
}

:where(.vds-video-layout .vds-controls[data-visible]) {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0) 12%) !important;
}

:where([data-preview] .vds-video-layout .vds-captions) {
	opacity: 1 !important;
}

.vds-gesture[action="toggle:paused"] {
	display: none !important;
}

.avatar {
	width: 1.5rem;
	height: 1.5rem;
}


@media (max-width: 1000px) {
	.avatar {
		width: 1rem;
		height: 1rem;
	}
	:where(.vds-video-layout .vds-controls[data-visible]) {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0) 22%) !important;
	}
}

.selected-dropdown {
	font-weight: 800;
}

.dropdown {
	z-index: 100;
}

.tooltip:before {
	z-index: 120;
}

.vds-chapter-title {
	visibility: hidden;
}

.sonner-loading-wrapper {
	display: none !important;
}

.group.toaster .group-\[\.toaster\]\:shadow-lg {
	box-shadow: none !important;
}

.vds-chapters-menu {
	display: none !important;
}
